/** @format */

.form__button {
    position: relative;
    background-color: #4dcfe0; /* color de fondo */
    color: #fff; /* color de letra */
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration-color: #fff;
    margin-bottom: 10px; /* separación entre elementos */
}

.form__button:hover {
    background-color: #fff;
    color: #d130b6; /* color de letra */
    border: 2px solid #b239bd; /* color de borde */
}

.bienvenido {
    text-align: center; /* centrar el texto */
    font-size: 12px; /* tamaño de letra */
    font-weight: normal; /* letra normal */
    animation: parpadeo 0.5s linear infinite; /* animación de parpadeo */
    padding: 12px 20px;
    font-size: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    background-color: #ac9cd8; /* color del fondo de cada "nota" */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* efecto de sombra */
    margin: 10px;
    padding: 20px;
    position: relative;
    width: 300px; /* ancho de cada "carta" */
    list-style-type: none;
}

ul li:hover {
    background-color: #f2f2f2; /* color del fondo al pasar el cursor sobre la "carta" */
    cursor: pointer;
}

ul li::before {
    content: '😺';
    color: #1613c9;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
}

.listaNotas {
    text-align: center; /* centrar texto */
    font-size: 24px;
    font-weight: normal;
    margin-top: 30px; /* margen superior */
    margin-bottom: 30px; /* margen inferior */
    color: #333; /* color de letra */
}

.form__title {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #056ccc;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

fieldset {
    margin-bottom: 20px;
    border: none;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #9c27b0;
}

input[type='text'],
input[type='category'],
input[type='tittle'],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type='file'] {
    margin-top: 10px;
}

p {
    font-size: 14px;
    color: #9c27b0;
    margin-top: 5px;
}

.p1 {
    color: yellow;
}

figure {
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para la temática */

.header {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(245, 20, 177);
    animation: fade-in-out 4s ease-in-out infinite;
    text-align: center;
}

label {
    color: #050505;
}

input[type='text'],
input[type='category'],
input[type='tittle'],
textarea {
    border-color: #1a85e9;
}

input[type='file'] {
    border-color: #e91e63;
}

.btn {
    background-color: #9c27b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #9c27b0;
    border: 2px solid #9c27b0;
}

.btn {
    background-color: #e91e63;
    border-color: #e91e63;
}

.btn:hover {
    background-color: #fff;
    color: #e91e63;
    border-color: #e91e63;
}

p,
.li_userPage {
    color: #0b6ca5;
    text-align: center;
}

.form__button {
    position: relative;
    background-color: #9c27b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form__button:hover {
    background-color: #fff;
    color: #9c27b0;
    border: 2px solid #9c27b0;
}

.cat__trabajo {
    color: #e91e63;
}

.cat__estudio {
    color: #673ab7;
}

.cat__finanzas {
    color: #ffc107;
}

.cat__viajes {
    color: #00bcd4;
}

.cat__salud {
    color: #4caf50;
}

.cat__cocina {
    color: #795548;
}

.cat__jardineria {
    color: #8bc34a;
}

.cat__ejercicio {
    color: #f44336;
}

.cat__moda {
    color: #9c27b0;
}

.cat__relaciones {
    color: #ff5722;
}

.cat__mascotas {
    color: #2196f3;
}

.cat__viaje-de-negocios {
    color: #607d8b;
}

.cat__proyectos {
    color: #673ab7;
}

.cat__desarrollo-personal {
    color: #ff9800;
}

.category--trabajo {
    color: #e91e63;
}

.category--estudio {
    color: #673ab7;
}

.category--finanzas {
    color: #ffc107;
}

.category--viajes {
    color: #00bcd4;
}

.category--salud {
    color: #4caf50;
}

.category--cocina {
    color: #795548;
}

.category--jardineria {
    color: #8bc34a;
}

.category--ejercicio {
    color: #f44336;
}

.category--moda {
    color: #9c27b0;
}

.category--relaciones {
    color: #ff5722;
}

.category--mascotas {
    color: #2196f3;
}

.category--viaje-de-negocios {
    color: #607d8b;
}

.category--proyectos {
    color: #673ab7;
}

.category--desarrollo-personal {
    color: #ff9800;
}

.form__button {
    position: relative;
    background-color: #9c27b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form__button--noteList {
    margin-right: 16px;
}

.form__button--newNote {
    background-color: #e91e63;
    border-color: #e91e63;
}

.form__button:hover {
    background-color: #fff;
    color: #9c27b0;
    border: 2px solid #9c27b0;
}

.form__button--newNote:hover {
    background-color: #fff;
    color: #e91e63;
    border-color: #e91e63;
}

.form__button--noteList:hover::before,
.form__button--noteList:hover::after {
    background-color: #9c27b0;
}

.form__button--newNote:hover::before,
.form__button--newNote:hover::after {
    background-color: #e91e63;
}

.form {
    background-image: url('../public/07469b9c2b43ddd43d774090a57761c9.jpg');
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #5e76aa;
    border-radius: 10px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
}
